
.body{
   
    padding: 20px;
    
}

header{
    background-color: #F3FCF7;
    margin-top: 50px;  
}
.foodies{
    color: #06C167;
    font-weight: 700;
    font-size: 35px;
}
nav{
    height: 41px;
    width: 1177px;
}
.nav-flex{
    display: flex;
    justify-content: space-between;
    margin-right: 10px;
    padding-right: 10px;
    padding-left: 50px;
    
}
.itemlist-flex{
    display: flex;
    justify-content: space-evenly;
    gap: 50px;
    text-decoration: none;
    list-style: none;
}
/* main section */
.top-section{
    /* margin-left: 20px; */
    margin-top: 50px;
}
.div-text{
   margin-top: 100px;
   padding-left: 50px;
}
.text-image-section{
    display: flex;
    gap: 20px;
    margin-bottom: 20px;  
}

.img-banner{
    width: 500px;
    height: auto;
    padding-right: 50px; 
    position: relative;
     transform: rotate(1deg)

}
.rating-right-postion{
    position: absolute;
    top:80%;
    left: 50%;
    
}

.image-text-left{
position: absolute;
top: 70%;
right:25px;
}
.text-heading{
    font-size:75px;
    font-weight:600px;   
}
.btn{
    margin: 10px ;
    font-size: 15px;
    padding: 10px;
    font-size:20px ;
    border-radius: 5px;
    background-color: #06C167;
}
.brand-logo{
    margin-top: 200px;
}


/* delivery & Payment system */
.payment{
    margin-top: 100px;
    border: 0.5px solid #707070;
    padding: 20px;
    margin-left: 100px;
    margin-right: 100px;
}
.payment-sysmet{
    display: flex;
    justify-content: space-around;
    gap: 50px;
   m
}
/* vegitable-section */
.vegitable{
    margin-top:100px;
}
.vegitable-section{
    margin-top:50 px;
    display:flex;
}
.img-section{
   width: 50%;
}
.food-png{
    width: 400px;
    height: 300px;
    margin-left: 200px;
}
.text-section{
    margin-top: 50px;
}

/* veggi-section */
.veggi{
    margin-top: 100px;
}
.veggi-section{
    display: flex;
    gap: 30px;
    margin-top: 50px;
    margin-left: 100px;
}
.veggi-text-container{
    width: 50%;
    font-size: 20px;
}
.vegitable-png{
    width: 300px;
    height: 300px;
}
.amount-p{
    color: #06C167;
    font-size: 50px;
    line-height: 1.5px;
}
.amount-box{
    padding: 10px;
    margin: 10px;
}
.amount-flex{
    display: flex;
    gap: 30px;
}
/* verity Food Section */
.food-top-heading{
    text-align: center;
}
 .verity-grid{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 50px;
    margin-left: 100px;
}
.food-2{
    width: 290px;
    height: 292px;
    row-gap:0px ;
    border: 2px solid blue;
}
.food-2-img{
    width: 290px;
    height: 292px;

}
 /* Most Popular Product */
 .Most-Popular-Product{
    margin-top: 100px;
    margin-right: 200px;
 }
 .Popular-Product-heading{
padding-left: 100px;
 }
 .prodcut-details-section{
    display: flex;
    justify-content: space-evenly;
    
 }
 .product-img-icon-section{
    text-align: center;
    
 }
 .Banena-png{
    width: 100px;
    height: 100px;
    border-radius:50px;
 }
 .star-icon{
    display: flex;
    color: #06C167;
    
 }
 .btn-prodcut{
    border: 2px solid skyblue;
    padding: 10px;
 }
/* vaggai */
.banner-img{
    background-image: url(./images/LastBanner.png.png);
    height: 500px ;
    width: 1050px;
    object-fit: cover;
    background-repeat: no-repeat;
    margin: 100px;
    padding: 50px;
    opacity:0.9; 
    color:#02020296;
    border:2px solid skyblue;
    border-radius: 5px;
}
 .uper-text{
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight:bold;
    
}

/* footer section  */
.footer-flex{
    display: flex;
    justify-content: space-evenly;
    gap: 30px;
}
.copy{
    margin-top: 20px;
    text-align: center;
}
